:root {
	--black: #000000;
	--white: #ffffff;
	--fondo: #111;
	--fondoTwo: #191919;
	--pink: #ffc4ff;

	--fuenteOne: "Bogart-Medium", "Roboto", sans-serif;
	--fuenteTwo: "Biotif-Medium", sans-serif;
}

/* Glovales */

@font-face {
	font-family: Bogart-Medium;
	src: url(../font/Bogart-Medium-trial.ttf) format("truetype");
}

@font-face {
	font-family: Biotif-Medium;
	src: url(../font/Biotif-Medium.ttf) format("truetype");
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
html {
	font-family: var(--fuenteOne);
	background-color: var(--fondo);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

i {
	color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--fuenteOne);
	font-weight: 500;
	color: var(--white);
}

a,
button,
h6,
input,
li,
p {
	font-family: var(--fuenteTwo);
	color: var(--white);
}

.container {
	max-width: 90%;
	margin: auto;
}

@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

.display-flex {
	display: flex;
}

.margin-top {
	margin-top: 10rem;
}

@media (min-width: 992px) {
	.display-flex-one {
		display: flex;
	}
}

@media (max-width: 991.98px) {
	.box-img {
		display: none;
	}
}

.display-block {
	display: block;
}

.text-align-center {
	text-align: center;
}

/* nav */

.position-fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav-color {
	background-color: var(--fondo);
}

.display-flex ul li,
.display-flex ul li a {
	display: inline-block;
}

@media (min-width: 768px) {
	.display-none {
		display: none;
	}
}

.z-index {
	z-index: 20;
}

#hamburger button {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0;
	width: 6rem;
	height: 6rem;
	outline: none;
}

#hamburger button span {
	border-radius: 0.5rem;
	background: white;
	display: block;
	width: 60%;
	margin: 0.5rem auto;
	height: 0.2rem;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
	animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
	animation-name: middle-line-animation;
}

#hamburger button.open .bottom-line {
	animation-name: bottom-line-animation;
}

#hamburger button .top-line {
	animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
	animation-name: middle-line-animation-close;
}

#hamburger button .bottom-line {
	animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
	50%,
	100% {
		margin: 0 auto;
		transform: translateY(2px) rotate(-45deg);
	}
}

@keyframes bottom-line-animation {
	50%,
	100% {
		margin: 0 auto;
		transform: translateY(-2px) rotate(45deg);
	}
}

@keyframes middle-line-animation {
	20%,
	100% {
		margin: 0 auto;
		width: 0;
		opacity: 0;
	}
}

@keyframes top-line-animation-close {
	0% {
		margin: 0 auto;
		transform: translateY(2px) rotate(-45deg);
	}

	50%,
	100% {
		margin: 5px auto;
		transform: translateY(0px) rotate(0deg);
	}
}

@keyframes middle-line-animation-close {
	0% {
		margin: 0 auto;
		width: 0;
		opacity: 0;
	}

	20%,
	100% {
		margin: 0 auto;
		width: 60%;
		opacity: 1;
	}
}

@keyframes bottom-line-animation-close {
	0% {
		margin: 0 auto;
		transform: translateY(-2px) rotate(45deg);
	}

	50%,
	100% {
		margin: 0 auto;
		transform: translateY(5px) rotate(0deg);
	}
}

@media (max-width: 767.98px) {
	.display-none-two {
		display: none;
	}

	.nav-completo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		background: #a162e8;
		height: 100vh;
		z-index: 10;
		overflow-y: auto;
	}
}

.display-flex ul li a {
	color: var(--white);
	font-size: 1.8rem;
	align-items: center;
	text-transform: capitalize;
	font-weight: 500;
	position: relative;
}

.display-flex ul li a:hover {
	color: var(--pink);
}

.display-flex ul li a::after {
	content: "";
	background-color: var(--pink);
	position: absolute;
	left: 0;
	top: calc(100% + 0.8rem);
	width: 100%;
	height: 0.4rem;
	border-radius: 1rem;
	opacity: 0;
	transition: opacity 0.3s;
	transform: rotate(359deg);
}

.display-flex ul li a:hover::after {
	opacity: 0.8;
}

.eye-move {
	position: absolute;
	width: 100%;
	top: 3rem;
	display: flex;
	justify-content: center;
}

.display-flex ul li {
	padding: 3rem 3.7rem;
}

@media (min-width: 768px) {
	.display-flex ul li {
		padding: 3rem 1.5rem;
	}
}

@media (min-width: 992px) {
	.display-flex ul li {
		padding: 3rem 2.5rem;
	}
}

@media (min-width: 1200px) {
	.display-flex ul li {
		padding: 3rem 3.2rem;
	}
}

@media (min-width: 1400px) {
	.display-flex ul li {
		padding: 3rem 3.7rem;
	}
}

.order {
	justify-content: space-between;
	align-items: center;
}

.icon-social {
	width: 1.5rem;
}

.link-social {
	position: relative;
	z-index: 1;
}

.red-social {
	margin-right: 2rem;
}

.red-social:last-of-type {
	margin-right: 0;
}

/* hero */

.display-flex-two {
	align-items: center; /* simplificar*/
	min-height: 90rem;
}

.flex-amount {
	flex-basis: calc(50%);
}

.text {
	padding-top: 9.5rem;
}

.text-rgb,
.text-rgb-two,
.text-rgb-three {
	font-size: 5.5rem;
	letter-spacing: -0.15rem;
	background-image: linear-gradient(
		271deg,
		#a0e9ff 30%,
		#a162e8 50%,
		#f093b0 70%,
		#edca85 94%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin: 0;
}

.text-rgb:hover {
	animation: move 35s linear infinite;
}

.text p {
	font-size: 2rem;
}

@media (min-width: 768px) {
	.display-flex-two {
		min-height: 100rem;
	}

	.text-rgb {
		font-size: 7.7rem;
	}

	.text p {
		padding-right: 2rem;
	}
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}

.container-img {
	display: flex;
	align-items: center;
}

.box-logo-eye {
	display: flex;
	align-items: center;
	background-color: var(--fondoTwo);
	min-height: 40rem;
	width: 100%;
	border-radius: 5%;
	margin: auto;
	position: relative;
}

@media (min-width: 768px) {
	.box-logo-eye {
		width: 80%;
		min-height: 45vh;
	}

	.padding {
		padding-left: 0 !important;
	}
}

@media (min-width: 992px) {
	.box-logo-eye {
		width: 100%;
		min-height: 50vh;
	}
}

@media (min-width: 1400px) {
	.box-logo-eye {
		height: 55rem;
		width: 55rem;
	}

	.text {
		padding-top: 7.5rem;
	}

	.text-rgb {
		font-size: 9.7rem;
	}

	.box-img {
		position: absolute;
		top: -12rem;
		left: -12rem;
		height: 12rem;
		width: 12rem;
		border-radius: 15%;
		background: linear-gradient(180deg, #edca85, #f093b0);
	}

	.box-img-one {
		left: 55rem;
		background: linear-gradient(180deg, #b097f2, #a0e9ff);
	}

	.box-img-two {
		top: 55rem;
		background: linear-gradient(180deg, #db85b4, #b097f2);
	}

	.box-img-three {
		top: 55rem;
		left: 55rem;
		background: linear-gradient(180deg, #edca85, #f093b0);
	}
}

.background-eye {
	display: flex;
	background-color: var(--white);
	width: 26rem;
	height: 17rem;
	border-radius: 50%;
	margin: auto;
	animation: backgroundEye 4s linear infinite;
}

@keyframes backgroundEye {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(3rem);
	}
	100% {
		transform: translateY(0);
	}
}

.tabs-box {
	position: absolute;
	left: 46%;
}

.tabs-box-one {
	position: relative;
	left: 50%;
}

.tabs {
	position: absolute;
	top: -8rem;
	margin: 0;
	height: 7rem;
	width: 1.8rem;
	border-radius: 10rem;
}

.tabs-one {
	left: -9rem;
	background-color: #ffffff;
	transform: rotate(-40deg);
}

.tabs-two {
	top: -10rem;
	background-color: #ffffff;
}

.tabs-three {
	left: 9rem;
	transform: rotate(40deg);
	background-color: #ffffff;
}

.eye-pupil {
	background-color: var(--black);
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	margin: auto;
	animation: eyePupil 8s ease-in-out 2s infinite;
	position: relative;
}

@keyframes eyePupil {
	0% {
		top: 0;
		left: 0;
	}
	10% {
		left: -3rem;
		top: 0;
	}
	20% {
		left: -3rem;
		top: -1rem;
	}
	30% {
		left: -3rem;
		top: 0;
	}
	40% {
		left: -3rem;
		top: 1rem;
	}
	50% {
		top: 0;
		left: 0;
	}
	60% {
		left: -3rem;
		top: 3rem;
		width: 8rem;
		height: 8rem;
	}
	70% {
		left: 3rem;
		top: 3rem;
		width: 8rem;
		height: 8rem;
	}
	80% {
		left: 0rem;
		top: 0rem;
		width: 10rem;
		height: 10rem;
	}
	90% {
		top: -3rem;
	}
	100% {
		top: 0;
	}
}

/* logo */
.eye {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 2rem;
	background-color: var(--white);
	border-radius: 55%;
}

.eye::before {
	content: "";
	background: url(../img/ojo-last.svg) no-repeat;
	position: absolute;
	height: 1rem;
	width: 2.4rem;
	top: -1.2rem;
	opacity: 0;
	transition: opacity 0.2s;
}

.eye:hover::before {
	opacity: 1;
}

.eye-one::before {
	content: "";
	background: url(../img/ojo-last.svg) no-repeat;
	stroke: #a162e8;
	position: absolute;
	height: 1rem;
	width: 2.4rem;
	top: -1.2rem;
	opacity: 1;
	transition: opacity 0.2s;
}

.eyes {
	width: 2rem;
	height: 2rem;
	background: white;
	border-radius: 50%;
}

.eye .eyes::before {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	background: #000000;
	transform: translate(-50%, -50%);
	position: relative;
	top: 35%;
	border-radius: 50%;
	left: 1.2rem;
	transition: all 0.1s;
}

.eye .eyes:hover::before {
	width: 1.3rem;
	height: 1.3rem;
}

.eye .eyes-one::before {
	width: 1.3rem;
	height: 1.3rem;
}

/* saeciones */

.grid {
	display: grid;
	row-gap: 10rem;
}

@media (min-width: 992px) {
	.grid {
		margin-top: 0;
	}
}

.background {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--fondoTwo);
	max-width: 100%;
	max-height: 100%;
	border-radius: 3rem;
	position: relative;
	min-height: 40vh;
	transition: all 0.3s;
	top: 0;
	padding: 2rem;
}

.background:hover {
	top: -1rem;
}

.background span {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	opacity: 0.6;
	font-weight: 700;
	font-family: var(--fuenteTwo);
}

.background h2 {
	font-family: var(--fuenteOne);
	font-size: 4.5rem;
	letter-spacing: -0.1rem;
	margin-top: 2rem;
}

.background-img {
	text-align: center;
}

.img-hs {
	width: 100%;
	border-radius: 15px;
}

@media (min-width: 576px) {
	.background {
		padding: 5rem;
	}

	.margin-top {
		margin-top: 3rem;
	}
}

@media (min-width: 1200px) {
	.img-hs {
		width: 75%;
	}
}

.footer-center {
	margin: auto;
	padding: 25rem 0;
	max-width: 700px;
}

.text-size {
	font-size: 4rem;
}

@media (min-width: 576px) {
	.text-size {
		font-size: 6.5rem;
	}
}

.footer-text {
	font-size: 2rem;
	line-height: 160%;
	margin-top: 3rem;
}

.footer-link {
	position: relative;
}

.footer-link span::after {
	content: "";
	background-color: var(--pink);
	position: absolute;
	left: 0;
	top: calc(100% + 0.7rem);
	width: 100%;
	height: 0.4rem;
	border-radius: 1rem;
	transition: opacity 0.3s;
}

.container-two {
	width: 90%;
	margin: auto;
	margin-top: 10rem;
}

.margin-top-one {
	margin-top: 13rem;
}

@media (min-width: 992px) {
	.container-two {
		width: 80%;
	}
}

.img-small {
	max-width: 100%;
	border-radius: 2rem;
}

.my-title {
	max-width: 580px;
	font-size: 3.5rem;
	text-align: start;
	margin: auto;
	margin-top: 3rem;
}

.my-text {
	max-width: 580px;
	text-align: start;
	font-size: 1.8rem;
	opacity: 0.9;
	margin: auto;
	margin-top: 3.5rem;
	line-height: 3.2rem;
}

@media (min-width: 1200px) {
	.display-flex-twree {
		display: flex;
		justify-content: center;
	}

	.information {
		margin-left: 5rem;
	}

	.my-title {
		margin-top: 0;
	}

	.margin-top-one {
		margin-top: 26rem;
	}
}

.text-two {
	font-size: 3.5rem;
	line-height: 150%;
}

.story-box {
	height: 37rem;
	width: 100%;
	margin: auto;
}

.story-box-grid {
	display: grid;
	row-gap: 2rem;
}

@media (min-width: 992px) {
	.story-box-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		/* grid-template-rows: repeat(4, 1fr); */
		row-gap: 1rem;
	}
}

.story-box-small {
	background: #222;
	border-radius: 2rem;
	padding: 3rem;
}

.box-information-flex-text {
	flex-basis: 70%;
}

.box-information-flex-item {
	flex-basis: 30%;
	text-align: end;
	align-self: center;
}

.number {
	font-size: 2.2rem;
	margin: 0;
}

.box-information-flex-text span {
	color: var(--white);
	display: block;
	font-family: var(--fuenteTwo);
}

.text-company {
	font-size: 1.8rem;
}

.text-role {
	font-size: 1.4rem;
	margin-top: 0.5rem;
}

.books-boxs {
	margin-top: 4rem;
}

@media (min-width: 992px) {
	.grid-two {
		grid-column: 1 / span 4;
		grid-row: 3 / 3;
	}

	.grid-three {
		grid-column: 5 / span 8;
		grid-row: 2 / 2;
	}

	.grid-four {
		grid-column: 5 / span 8;
		grid-row: 1 / 1;
	}

	.books-boxs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.book-title {
	color: var(--white);
	font-size: 1.8rem;
	display: block;
	max-width: 20rem;
	margin: auto;
	margin-top: 1rem;
	font-family: var(--fuenteTwo);
}

.book-text {
	color: var(--white);
	font-size: 1.4rem;
	display: block;
	max-width: 20rem;
	margin: auto;
	margin-top: 0.5rem;
	font-family: var(--fuenteTwo);
}

.book-img {
	filter: grayscale(1);
}

.book-img img {
	width: 20rem;
}

.book-box-margin {
	margin-top: 5rem;
}

@media (min-width: 992px) {
	.book-box-margin {
		margin-top: 0;
	}
}

/* contact page */

/* form style*/

.form,
.form-message {
	width: 100%;
	height: 50px;
	position: relative;
	overflow: hidden;
	margin-bottom: 5rem;
}

.form-message {
	height: 100%;
}

.form input,
.form-message textarea {
	width: 100%;
	height: 100%;
	background: none;
	color: #fff;
	padding-top: 2rem;
	border: none;
	outline: 0;
	font-size: 1.9rem;
	border-bottom: 1px solid var(--white);
}

.form-message textarea {
	padding-top: 3rem;
}

.form-message textarea {
	min-width: 100%;
	border-right: 1px solid var(--white);
}

.form .lbl-name,
.form-message .lbl-name {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.form .lbl-name::after,
.form-message .lbl-name::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid var(--pink);
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.form-message .lbl-name::after {
	bottom: 0;
}

.text-name,
.text-name-one {
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	transition: all 0.3s ease;
	color: var(--white);
	font-family: var(--fuenteTwo);
	font-size: 1.9rem;
}

.text-name-one {
	bottom: 0;
	top: 2.4rem;
}

.form input:focus + .lbl-name .text-name,
.form input:valid + .lbl-name .text-name,
.form-message textarea:focus + .lbl-name .text-name-one,
.form-message textarea:valid + .lbl-name .text-name-one {
	transform: translateY(-150%);
	font-size: 1.5rem;
	color: var(--pink);
}

.form-message textarea:focus + .lbl-name .text-name-one,
.form-message textarea:valid + .lbl-name .text-name-one {
	transform: translateY(-10%);
	font-size: 1.5rem;
	color: var(--pink);
}

.form input:focus + .lbl-name::after,
.form input:valid + .lbl-name::after,
.form-message textarea:focus + .lbl-name::after,
.form-message textarea:valid + .lbl-name::after {
	transform: translateX(0%);
}

.bottom {
	cursor: pointer;
	height: 4rem;
	width: 10rem;
	font-family: var(--fuenteTwo);
	font-size: 1.9rem;
	background: none;
	border: none;
	border-bottom: 1px solid var(--white);
	border-right: 1px solid var(--white);
	margin-bottom: 5rem;
}

.col-md-6 iframe {
	width: 100%;
}

.text-contact {
	font-size: 1.8rem;
	opacity: 0.9;
	line-height: 3.2rem;
}

/* preload */

#preload {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--fondo);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.preload-background-eye {
	position: relative;
	z-index: 10000;
	height: 10rem;
	width: 15rem;
	border-radius: 50%;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.eye-big {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background: var(--black);
	animation: eyeBig 3s infinite;
}

.preload-background-eye img {
	position: absolute;
	top: -4.5rem;
	width: 10rem;
}

@keyframes eyeBig {
	0% {
		width: 4rem;
		height: 4rem;
	}
	50% {
		width: 7rem;
		height: 7rem;
	}
	100% {
		width: 4rem;
		height: 4rem;
	}
}

.margin-auto {
	margin: 0 auto;
}

.wip-header {
	background: linear-gradient(180deg, #111 20%, rgba(20, 44, 105, 0) 60%),
		#1a1a1a;
	padding: 13rem 0 5rem 0;
}

.wip-container {
	max-width: 70rem;
}

.wip-title {
	letter-spacing: -0.15rem;
	line-height: 110%;
	font-size: 5.5rem;
}

.wip-text {
	line-height: 1.7;
	font-size: 1.8rem;
	opacity: 0.8;
	margin-top: 3rem;
}

@media (min-width: 576px) {
	.wip-title {
		font-size: 6.2rem;
	}
}

@media (min-width: 992px) {
	.wip-title {
		font-size: 6.9rem;
	}

	.wip-header {
		padding: 22rem 0 15rem 0;
	}
}

.wip-box-date {
	align-items: center;
	padding: 3rem 0;
	margin: 7rem 0;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
}

.wip-img {
	margin-left: 3rem;
}

.wip-date {
	font-weight: 600;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	font-family: var(--fuenteTwo);
	margin-left: 1rem;
}

.wip-public-container {
	max-width: 740px;
}

.wip-information {
	margin-left: 3rem;
}

.wip-info-title {
	font-size: 3.4rem;
	line-height: 120%;
	letter-spacing: -1px;
	font-family: var(--fuenteOne);
	margin: 0 0 0.5rem 0;
}

.wip-info-subTitle {
	font-size: 1.3rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: var(--fuenteTwo);
	margin: 1rem 0 0 0;
	opacity: 0.7;
}

.wip-info-text {
	font-size: 1.8rem;
	line-height: 3.2rem;
	opacity: 0.8;
	margin-top: 3rem;
}

.wip-information img {
	max-width: 100%;
	margin: 3rem 0;
	border-radius: 2rem;
}

.wip-info-link a {
	font-size: 1.8rem;
	line-height: 3.2rem;
	position: relative;
}

.wip-info-link a::before {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	background-color: #444;
	height: 0.3rem;
	width: 100%;
	border-radius: 10rem;
	transition: all 0.2s ease-in-out;
}

.wip-info-link a:hover::before {
	height: 0.5rem;
	width: 100%;
}

.wip-icon {
	position: relative;
}

.wip-icon::before {
	content: "";
	position: absolute;
	left: 49%;
	bottom: -5rem;
	background-color: #444;
	height: 100%;
	width: 1px;
	border-radius: 10rem;
	margin: 0 auto;
}
@media (min-width: 576px) {
	.wip-container-two {
		max-width: 100%;
	}
}

.box-icon-dev {
	margin-top: 1rem;
	display: flex;
}

.box-icon-dev .icon-bg {
	background-color: var(--white);
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.4rem;
}

.box-icon-dev .icon-bg img {
	width: 30px;
}
