---
import { StackIcons } from "./StackIcons";
---

<nav class="position-fixed nav-color">
  <div class="eye-move">
    <a href="/">
      <div class="face">
        <div class="eye">
          <div class="eyes"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="container">
    <div class="display-flex order">
      <div class="display-none z-index">
        <div id="hamburger">
          <button>
            <span class="top-line"></span>
            <span class="middle-line"></span>
            <span class="bottom-line"></span>
          </button>
        </div>
      </div>
      <ul class="display-none-two nav-list">
        <li class="padding">
          <a href="/">inicio</a>
        </li>
        <li>
          <a href="about">sobre mi</a>
        </li>
        <li>
          <a href="contact">contacto</a>
        </li>
      </ul>
      <div class="link-social">
        <StackIcons />
      </div>
    </div>
  </div>
</nav>

<script>
  const nav = document.querySelector("#hamburger button");
  const navMenu = document.querySelector(".nav-list");
  nav!.addEventListener("click", () => {
    nav!.classList.toggle("open");
    navMenu!.classList.toggle("nav-completo");
  });

  /* ojo move*/ 
const eyes = document.querySelectorAll('.eyes')

document.onmousemove = function(event){
    eyes.forEach((item: any) => {
        const x = item.offsetLeft + item.clientWidth / 2; // La coordenada x del ojo
        const y = item.offsetTop + item.clientHeight / 2; // La coordenada y del ojo
        const rad = Math.atan2(event.pageX - x, (event.pageY - scrollY) - y); // La distancia de coordenadas entre el mouse y el ojo, y luego use la función atan2 para calcular el arco entre el punto y el punto (0, 0)
        const rot = (rad * (180 / Math.PI) * -1) + 180 - 40; // Convertir a ángulo
        item.style.transform = 'rotate(' + rot + 'deg)'
    });
}

/* animacion de ojo activado*/
const links = document.querySelectorAll('a');
const activeEyeLasts = document.querySelector('.eye');
const activeEyePupil = document.querySelector('.eyes');


links.forEach((item: any) => {
    item.addEventListener('mouseover', () => {
        activeEyeLasts!.classList.toggle('eye-one');
        activeEyePupil!.classList.toggle('eyes-one');
    });

    item.addEventListener('mouseout', () => {
        activeEyeLasts!.classList.remove('eye-one');
        activeEyePupil!.classList.remove('eyes-one');
    });   
})

</script>

<style>
  .position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .nav-color {
    background-color: var(--fondo);
  }

  .eye-move {
    position: absolute;
    width: 100%;
    top: 3rem;
    display: flex;
    justify-content: center;
  }

  .display-flex {
    display: flex;
  }

  .display-flex ul li,
  .display-flex ul li a {
    display: inline-block;
  }

  .display-flex ul li a {
    color: var(--white);
    font-size: 1.8rem;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
  }

  .display-flex ul li a:hover {
    color: var(--pink);
  }

  .display-flex ul li a::after {
    content: "";
    background-color: var(--pink);
    position: absolute;
    left: 0;
    top: calc(100% + 0.8rem);
    width: 100%;
    height: 0.4rem;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    transform: rotate(359deg);
  }

  .display-flex ul li a:hover::after {
    opacity: 0.8;
  }

  .display-flex ul li {
    padding: 3rem 3.7rem;
  }

  @media (min-width: 768px) {
    .display-flex ul li {
      padding: 3rem 1.5rem;
    }
  }

  @media (min-width: 992px) {
    .display-flex ul li {
      padding: 3rem 2.5rem;
    }
  }

  @media (min-width: 1200px) {
    .display-flex ul li {
      padding: 3rem 3.2rem;
    }
  }

  @media (min-width: 1400px) {
    .display-flex ul li {
      padding: 3rem 3.7rem;
    }
  }

  .order {
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 768px) {
    .display-none {
      display: none;
    }
  }

  .z-index {
    z-index: 20;
  }

  #hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 6rem;
    height: 6rem;
    outline: none;
  }

  #hamburger button span {
    border-radius: 0.5rem;
    background: white;
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    height: 0.2rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  #hamburger button.open .top-line {
    animation-name: top-line-animation;
  }

  #hamburger button.open .middle-line {
    animation-name: middle-line-animation;
  }

  #hamburger button.open .bottom-line {
    animation-name: bottom-line-animation;
  }

  #hamburger button .top-line {
    animation-name: top-line-animation-close;
  }

  #hamburger button .middle-line {
    animation-name: middle-line-animation-close;
  }

  #hamburger button .bottom-line {
    animation-name: bottom-line-animation-close;
  }

  @keyframes top-line-animation {
    50%,
    100% {
      margin: 0 auto;
      transform: translateY(2px) rotate(-45deg);
    }
  }

  @keyframes bottom-line-animation {
    50%,
    100% {
      margin: 0 auto;
      transform: translateY(-2px) rotate(45deg);
    }
  }

  @keyframes middle-line-animation {
    20%,
    100% {
      margin: 0 auto;
      width: 0;
      opacity: 0;
    }
  }

  @keyframes top-line-animation-close {
    0% {
      margin: 0 auto;
      transform: translateY(2px) rotate(-45deg);
    }

    50%,
    100% {
      margin: 5px auto;
      transform: translateY(0px) rotate(0deg);
    }
  }

  @keyframes middle-line-animation-close {
    0% {
      margin: 0 auto;
      width: 0;
      opacity: 0;
    }

    20%,
    100% {
      margin: 0 auto;
      width: 60%;
      opacity: 1;
    }
  }

  @keyframes bottom-line-animation-close {
    0% {
      margin: 0 auto;
      transform: translateY(-2px) rotate(45deg);
    }

    50%,
    100% {
      margin: 0 auto;
      transform: translateY(5px) rotate(0deg);
    }
  }

  @media (max-width: 767.98px) {
    .display-none-two {
      display: none;
    }

    .nav-completo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: #a162e8;
      height: 100vh;
      z-index: 10;
      overflow-y: auto;
    }
  }

  @media (min-width: 768px) {
    .padding {
      padding-left: 0 !important;
    }
  }

  .link-social {
    position: relative;
    z-index: 1;
  }

  .red-social {
    margin-right: 2rem;
  }

  .red-social:last-of-type {
    margin-right: 0;
  }

  .eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
  background-color: var(--white);
  border-radius: 55%;
}

.eye::before {
  content: '';
  background: url("../../../assets/imgs/ojo-last.svg") no-repeat;
  position: absolute;
  height: 1rem;
  width: 2.4rem;
  top: -1.2rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.eye:hover::before {
  opacity: 1;
}

.eye-one::before {
  content: '';
  background: url("../../../assets/imgs/ojo-last.svg") no-repeat;
  stroke: #a162e8;
  position: absolute;
  height: 1rem;
  width: 2.4rem;
  top: -1.2rem;
  opacity: 1;
  transition: opacity 0.2s;
}

.eyes {
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 50%;
}

.eye .eyes::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background: #000000;
  transform: translate(-50%, -50%);
  position: relative;
  top: 35%;
  border-radius: 50%;
  left: 1.2rem;
  transition: all 0.1s;
}

.eye .eyes:hover::before {
  width: 1.3rem;
  height: 1.3rem;
}

.eye .eyes-one::before {
  width: 1.3rem;
  height: 1.3rem;
}
</style>
